{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Us</h1>
          <span class="subheading">This is what we thrive for.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-10 col-xl-7">
        <h1>
          Wondering how to dispose your ewaste ?
Here’s a perfect solution for your HITCH.

          
        </h1>
        
        
        <p style="font-size: xx-large;font-weight: 600;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
          We specialise in efficient gathering and proper disposal of E-Waste at your nearest facility locators.
          Dedicated to the public by making it systematic and user friendly. 
        </p>
        <p style="font-size: xx-large;font-weight: 600;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
          Our motto is to motivate individuals and focus on small scale to large scale E-waste generators to effectively dispose the waste thereby, minimalising the amount of waste produced.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
